
* {
  box-sizing: border-box;
}

:root {
  --fontColor: #293264;
  --bgColor: #F5F7FB;
  --accentLight: #D6DBF5;
  --accentDark: #4D5B9E;
  --fontLight: #8F95B0;
  --correctColor: #94D7A2;
  --wrongColor: #F6DADC;
}

body {
  background-color: var(--bgColor);
  font-size: 16px;
}


/* App */
.App {
  text-align: center;
  font-family: Inter;
  min-width: 400px;
  height: 100vh;
  color: var(--fontColor);
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9eaeb;
  font-size: 1rem;
}



/* Title Page */
.title-header {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0;

}

.title-subheader {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}



/* Questions */

.questions-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Question {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--accentLight);

}

.question-prompt {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0;
  line-height: 1.4;

}

.question-subheader {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 1em;

}

.question-category {
  font-weight: 600;
  font-size: 1.2rem;

}

.question-difficulty {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color:#D6DBF5;
  color: #293264;
  padding: .25em 1em;
  border-radius: 15px;
}

.question-answers {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  padding: 10px;
}

.question-btn {
    font-weight: 600;
    font-size: 1rem;
    border-radius: 20px;
    padding: .5em 2em;
    color: var(--fontColor);
    background-color: var(--bgColor);
    border: 2px solid var(--fontLight);

}



button {
  cursor: pointer;
}


.start-btn {
  background-color: var(--accentDark);
  font-size: 1.2rem;
  font-weight: 600;
  color: #F5F7FB;
  padding: 1em 2em;
  /* width: 30%; */
  border-radius: 25px;
  border: none;
}


.game-btn {
  background-color: var(--accentDark);
  font-size: 1rem;
  font-weight: 600;
  color: #F5F7FB;
  padding: 1.25em 3em;
  border-radius: 20px;
  margin-top: 1.5em;
  border: none;
}


.trivia-form {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trivia-input {
  display: flex;
  justify-content: center;

}
.trivia-input label {
    padding-right: .8em;

}
.trivia-input input {
    border-radius: 15px;
    border: none;
    text-align: center;
    width: 6em;
}

.trivia-input select {
  border-radius: 15px;
  border: none;
  width: 12em;
  padding: 0 .4em;
  text-align: left;
  padding-right: .8em;
}

.trivia-input input:focus,
.trivia-input select:focus
 {
  border: none;
}








@media (min-width: 800px) {
    .App {
        font-size: 1.4rem;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
    .title-header {
      font-size: 2rem;
    }

}