* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$mobile-width: 767px;
$mobile-height: 1200px;

$clr-font: #293264;
$clr-bg: #f5f7fb;
$clr-accent-light: #d6dbf5;
$clr-accent-dark: #4d5b9e;
$clr-correct: #94d7a2;
$clr-wrong: #f6dadc;


body {
  background-color: $clr-bg;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // display: flex;
  // justify-content: center;
}

button {
  cursor: pointer;
}

/* App */
.App {
  text-align: center;
  font-family: Inter;
  width: 100%;
  // height: 100vh;
  color: $clr-font;
  background-color: $clr-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  overflow-x: hidden;
}
